{% extends 'layout.html' %} {% block content %}
<script src="{{webroot}}/js/page/page.js"></script>
<section id="main">
	<input type="button" class="button" name="click"/> 
	<table class="table-stock">
		<thead>
			<th>Code</th>
			<th>TC</th>
			<th>CE</th>
			<th>FL</th>
			<th>KLG</th>
			<th>KLKL</th>
			<th>MG1</th>
			<th>MKL1</th>
			<th>MG2</th>
			<th>MKL2</th>
			<th>MG3</th>
			<th>MKL3</th>
			<th>BG1</th>
			<th>BKL1</th>
			<th>BG2</th>
			<th>BKL2</th>
			<th>BG3</th>
			<th>BKL3</th>
			<th>Gia Tri </th>
			<th>Tong KL</th>
		</thead>
		<tbody>
			
		</tbody>
	</table>
</section>
<script type="text/javascript">
var sportdata = JSON.parse(Base64.decode("{{sports}}"));
var data = Base64.decode("{{data}}");

</script>


{% endblock %}
